version: "3.8"
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: receipt_manager_backend
    ports:
      - "8000:8000"
    environment:
      - ENV=development
    volumes:
      - ./backend:/app:cached

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: receipt_manager_frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000
    volumes:
      - ./frontend:/app:cached
    depends_on:
      - backend